<app-navbar></app-navbar>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<sebm-google-map
        [latitude] = "lat"
        [longitude] = "lng"
        [zoom]="zoom"
        [disableDefaultUI] = "false"
        [zoomControl]="false"
        (mapClick) ="mapClicked($event)"
      >


        <sebm-google-map-marker
          *ngFor=" let marker of markers , let i = index"
          (markerClick) = "clickedMarker(marker,i)"
          [latitude] ="marker.lat"
          [longitude] ="marker.lng"
          [markerDraggable] = "marker.draggable"
          (dragEnd) ="markerDragEnd(marker, $event)"

        >

          <sebm-google-map-info-window>
            <strong>{{marker.name}}</strong>
          </sebm-google-map-info-window>


        </sebm-google-map-marker>

      </sebm-google-map>
		</div>
	</div>


  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add new Marker</h3>
        </div>
        <div class="panel-body">
          <form [formGroup] = "markerForm" (ngSubmit)="submitForm()" >
            <label>Location Name</label>
            <input type="text" formControlName = "name" >

            <label>Latitude </label>
            <input type="text" formControlName="lat">

            <label>Longitude </label>
            <input type="text" formControlName="lng">

            <label>Draggable </label>
            <select formControlName="draggable">
              <option value="True">True</option>
              <option value="False">False</option>
            </select>

            <input type="submit" value="Map it">


          </form>
        </div>
      </div>
    </div>
  </div>


</div>
